/* NAV BAR */
.logo {
  height: 4.2rem;
}

.main-nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #283644;
  font-weight: 500;
  font-size: 1.8rem;
  padding: 0.8rem 0.8rem;
}

.main-nav-link:hover,
.main-nav-link:active {
  padding: 0.8rem 0.8rem;
  border-radius: 9px;
  color: #fff;
  background-color: #029292;
}

.main-nav-link.btn-lg-cta:link,
.main-nav-link.btn-lg-cta:visited {
  padding: 0.8rem 0.8rem;
  border-radius: 9px;
  color: #fff;
  background-color: #283644;
}

.main-nav-link.btn-lg-cta:hover,
.main-nav-link.btn-lg-cta:active {
  background-color: #19242e;
}

/* sticky nav */

.sticky .header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
  height: 8rem;
}

.sticky .section-hero {
  margin-top: 9.6rem;
}
